<%include header.ejs %>

<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-md-8 am-u-sm-12">

        <article class="am-g blog-entry-article">
            <h1><a >坐标：中国.南京</a></h1>
            <p>我在这里-中国南京，这是一座既有历史底蕴又充满活力的城市。</p>
            <div class="am-u-lg-12 am-u-md-12 am-u-sm-12 am-u-sm-centered blog-entry-img">
                <img src="assets/i-n/location.png" alt="" class="am-u-sm-12">
            </div>
        </article>

        <article class="am-g blog-entry-article">
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                <img src="assets/i-n/mine.jpg" alt="" class="am-u-sm-12">
            </div>
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                
                <h1><a >基本资料</a></h1>
                <p>这就是我-刘明松，男，籍贯安徽省池州市。常住江苏南京，一名战斗在.Net、NodeJs领域的程序员和开发管理者，目前已从事了多年的软件开发行业。
                </p>
                <p><a href="" class="blog-continue">continue</a></p>
            </div>
        </article>

        <article class="am-g blog-entry-article">
            <div class="am-u-lg-12 am-u-md-12 am-u-sm-12 blog-entry-text">
                
                <h1><a >职业技能</a></h1>
                <div class="blog-sidebar-widget blog-bor">
                        <ul class="am-list">
                            <li><a ><span style="float:left;align-content: center;">掌握精通：</span> .net c# asp.net ext.net winform wpf mvvm mvc ioc 三层架构等</a></li>
                            <li><a ><span style="float:left;align-content: center;">熟悉了解：</span>nodejs express koa socket 微信公众号 小程序</a></li>
                            <li><a ><span style="float:left;align-content: center;">掌握：</span>sqlserver mysql oracle</a></li>
                            <li><a ><span style="float:left;align-content: center;">掌握：</span>html css javascript bootStrap layui amazeui ligerui jquery vue</a></li>
                            <li><a ><span style="float:left;align-content: center;">掌握了解：</span>windowsServer iis tfs svn git</a></li>
                            <li><a ><span style="float:left;align-content: center;">掌握了解：</span>开发管理 数据库设计</a></li>
                        </ul>
                    </div>
            </div>
        </article>

        <article class="am-g blog-entry-article">
            <div class="am-u-lg-12 am-u-md-12 am-u-sm-12 blog-entry-text">
                
                <h1><a >站点及其他</a></h1>
                <div class="blog-sidebar-widget blog-bor">
                    <ul class="am-list">
                        <li><a href="javascript:void(0);" data-am-popover="{content: '你还没获得博客小主的允许哦！赶快去联系他吧……'}"><span style="float:left;align-content: center;">个人简历：</span> 查看我的履历 </a></li>
                        <li><a href="http://lmssong.cn" target="_blank"><span style="float:left;align-content: center;">个人博客：</span>http://lmssong.cn</a></li>
                        <li><a href="https://www.cnblogs.com/lmssong" target="_blank"><span style="float:left;align-content: center;">博客园：</span>https://www.cnblogs.com/lmssong</a></li>
                        <li><a href="https://github.com/lmssong" target="_blank"><span style="float:left;align-content: center;">GitHub：</span>https://github.com/lmssong</a></li>

                    </ul>
                </div>
            </div>
        </article>
</ul>
    </div>

    <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
       
        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h2 class="blog-title"><span>Tags</span></h2>
            <div class="am-u-sm-12 blog-clear-padding">
            <a  class="blog-tag">.NET</a>
            <a  class="blog-tag">C#</a>
            <a  class="blog-tag">VB.NET</a>
            <a  class="blog-tag">NodeJs</a>
            <a  class="blog-tag">SqlServer</a>
            <a  class="blog-tag">开发管理</a>
            <a  class="blog-tag">...</a>
            </div>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>Favorite</span></h2>
            <ul class="am-list">
                <li><a >篮球</a></li>
                <li><a >看书、看电影</a></li>
                <li><a >研究技术</a></li>
                <li><a >游戏</a></li>
                <li><a >出去随便走走</a></li>
            </ul>
        </div>
        <div class="blog-sidebar-widget blog-bor">
                <h2 class="blog-title"><span>My Favorite Sentences</span></h2>
                <ul class="am-list">
                    <li><a >每个人都有一个死角， 自己走不出来，别人也闯不进去。</a></li>
                    <li><a >你不懂我，我不怪你。</a></li>
                    <li><a >最大的责任就是做好自己</a></li>
                    <li><a >会深度思考的人会花20%的时间来阅读 80%的时间用于思考，找出事件的本质</a></li>
                </ul>
        </div>
    </div>
</div>

<%include footer.ejs %>