<%include header.ejs %>

<div class="am-g am-g-fixed blog-fixed">
        <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-gallery-imgbordered" data-am-gallery="{pureview: 1}">
                <li>
                        <div class="am-gallery-item">
                        <img class="casesImg" src="/assets/i-n/lims-bj.png"
                                alt="实验室信息系统-Lims" />
                        <h1 class="am-gallery-title">实验室信息系统-Lims</h1>
                        <div class="am-gallery-desc">技术标签：B/S架构 C# EXT.NET MVC EF SqlServer 2005</div>
                        </div>
                </li>
                <li>
                        <div class="am-gallery-item">
                        <img class="casesImg" src="/assets/i-n/erp-gz.png"
                                alt="企业资源计划-ERP" />
                        <h1 class="am-gallery-title">企业资源计划-ERP</h1>
                        <div class="am-gallery-desc">技术标签：B/S架构 C# EXT.NET MVC EF SqlServer 2008R2</div>
                        </div>
                </li>
                <li>
                        <div class="am-gallery-item">
                        <img class="casesImg" src="/assets/i-n/sam-sh.png"
                                alt="船代信息管理系统" />
                        <h1 class="am-gallery-title">船代信息管理系统</h1>
                        <div class="am-gallery-desc">技术标签：B/S架构 C# EXT.NET MVC EF SqlServer 2008R2</div>
                        </div>
                </li>
                <li>
                        <div class="am-gallery-item">
                        <img class="casesImg" src="/assets/i-n/doCollect.jpg"
                                alt="实验室检测数据自动采集项目" />
                        <h1 class="am-gallery-title">实验室检测数据自动采集项目</h1>
                        <div class="am-gallery-desc">技术标签：C/S架构 C# WPF-Mvvm  SqlServer</div>
                        </div>
                </li>
                <li>
                        <div class="am-gallery-item">
                        <img class="casesImg" src="/assets/i-n/pocketLab.jpg" 
                                alt="口袋实验室" />
                        <h1 class="am-gallery-title">微信小程序项目-口袋实验室</h1>
                        <div class="am-gallery-desc">技术标签：微信小程序 wepy nodejs express</div>
                         </div>
                </li>
                <li>
                        <div class="am-gallery-item">
                        <img class="casesImg" src="/assets/i-n/commercialApp.jpg" 
                                alt="commercialApp" />
                        <h1 class="am-gallery-title">自研发项目(完善中)-ext.js项目</h1>
                        <div class="am-gallery-desc">技术标签：C# ext.js sencha cmd npm</div>
                        </div>
                </li>
                <li>
                        <div class="am-gallery-item">
                        <img class="casesImg" src="/assets/i-n/layAdmin.jpg"
                                alt="layAdmin" />
                        <h1 class="am-gallery-title">自研发项目(完善中)-仿Layui改造 layAdmin</h1>
                        <div class="am-gallery-desc">技术标签：layui C# knockout.js jquery mysql </div>
                        </div>
                </li>
        </ul>   
</div>


 <%include footer.ejs %>

