<%include header.ejs %>

<div class="am-g am-g-fixed blog-fixed">
        <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-gallery-imgbordered" data-am-gallery="{pureview: 1}">
                <li>
                        <div class="am-gallery-item">
                        <img src="/assets/i-n/lims-bj.png"
                                alt="实验室信息系统(北京)" data-rel="https://farm4.staticflickr.com/3835/15329524682_554d4c0886_k.jpg"/>
                        <h1 class="am-gallery-title">LIMS 实验室信息系统</h1>
                        <div class="am-gallery-desc">项目日期：2014-06 技术标签：C# EXT.NET MVC EF SqlServer 2005</div>
                        </div>
                </li>
                <li>
                        <div class="am-gallery-item">
                        <img src="/assets/i-n/lims-sh.png"
                                alt="实验室信息系统(上海润英蓝地)" data-rel="https://farm3.staticflickr.com/2941/15346557971_d8f3d52978_k.jpg"/>
                        <h1 class="am-gallery-title">上海实验室信息管理系统 LIMS</h1>
                        <div class="am-gallery-desc">项目日期：2016-09 技术标签：C# EXT.NET MVC EF SqlServer 2008R2</div>
                        </div>
                </li>
                <li>
                        <div class="am-gallery-item">
                        <img src="/assets/i-n/erp-gz.png"
                                alt="广垦ERP" data-rel="https://farm3.staticflickr.com/2941/15346557971_d8f3d52978_k.jpg"/>
                        <h1 class="am-gallery-title">广垦企业资源计划 ERP</h1>
                        <div class="am-gallery-desc">项目日期：2016-04 技术标签：C# EXT.NET MVC EF SqlServer 2008R2</div>
                        </div>
                </li>
                <li>
                        <div class="am-gallery-item">
                        <img src="/assets/i-n/sam-sh.png"
                                alt="SAM 船代信息管理" data-rel="https://farm3.staticflickr.com/2941/15346557971_d8f3d52978_k.jpg"/>
                        <h1 class="am-gallery-title">上海船代信息管理系统 SAM</h1>
                        <div class="am-gallery-desc">项目日期：2014-09 技术标签：C# EXT.NET MVC EF SqlServer 2008R2</div>
                        </div>
                </li>
        </ul>   
</div>


 <%include footer.ejs %>

