

<footer class="blog-footer">
    <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>联系我</h3>
            <p>
                <a title="QQ:525360674"  data-am-popover="{theme: 'primary sm',content: 'QQ:525360674'}"><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
                <a title="GitHub:https://github.com/lmssong" data-am-popover="{theme: 'primary sm',content: 'GitHub:https://github.com/lmssong'}"><span class="am-icon-github am-icon-fw blog-icon" ></span></a>
                <!-- <a title="525360674"><span class="am-icon-weibo am-icon-fw blog-icon"></span></a> -->
                <a title="Email:lmssong@163.com" data-am-popover="{theme: 'primary sm',content: 'Email:lmssong@163.com'}"><span class="am-icon-envelope-o am-icon-fw blog-icon"></span></a>
                <a title="Wechat:lmssong1989" data-am-popover="{theme: 'primary sm',content: 'Wechat:lmssong1989'}"><span class="am-icon-weixin am-icon-fw blog-icon"></span></a>
            </p>
            <h3>Address:中国.江苏省南京市栖霞区</h3>
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
                <h1>站在巨人的肩膀上,努力地造轮子</h1>
                <h3>Jacee Liu</h3>
            <p>
                <ul>
                    <li>NET</li>
                    <li>NodeJs</li>
                    <li>Wpf</li>
                    <li>JQuery</li>
                    <li>Knockout.js</li>
                    <li>Ext.net</li>
                    <li>...</li>
                </ul>
            </p>
        </div>
    </div>    
    <div class="blog-text-center">© 2019. Design By lmssong </div>
    <div class="blog-text-center" style="font-size:6px">温馨提示：此网站是个人用，不用做任何商业用途，如有侵权，请即时告知，我会在第一时间处理</div>
</footer>
