<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Blog">
    <meta name="keywords" content="NET NODEJS">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>lmssong's Blog</title>

    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="assets/i-n/kitty.png">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="lmssong's Blog"/>
    

    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" href="assets/css/amazeui.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <style>
        .header_bg {
            width: 100%;
            height: 160px;
            background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1)), url(assets/i/header_bg.jpg) no-repeat;
        }
    </style>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/amazeui.min.js"></script>
</head>
<body id="blog" >
    <div class="header_bg">
        <header class="am-g am-g-fixed blog-fixed blog-text-center blog-header" >
            <div class="am-u-sm-8 am-u-sm-centered">
                <h1> <b>lmssong's Blog</b></h1>
                <h2 class="am-hide-sm-only">一个专注于.Net/NodeJs开发的技术博客</h2>
            </div>
        </header>
    </div>
    
    <hr>
    <nav class="am-g am-g-fixed blog-fixed blog-nav">
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}" ><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="blog-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav">

                <% if(tabIndex == 1) {%>
                    <li class="am-active"><a href="/">首页</a></li>
                <% }%>
                <% if(tabIndex != 1) {%>
                    <li ><a href="/">首页</a></li>
                <% }%>

                <% if(tabIndex == 2) {%>
                    <li class="am-active"><a href="/mapping">技术导图</a></li>
                <% }%>
                <% if(tabIndex != 2) {%>
                    <li ><a href="/mapping">技术导图</a></li>
                <% }%>

                <% if(tabIndex == 3) {%>
                    <li class="am-active"><a href="/article">个人文章</a></li>
                <% }%>
                <% if(tabIndex != 3) {%>
                    <li ><a href="/article">个人文章</a></li>
                <% }%>

                <% if(tabIndex == 4) {%>
                    <li class="am-active"><a href="/cases">项目案例</a></li>
                <% }%>
                <% if(tabIndex != 4) {%>
                    <li ><a href="/cases">项目案例</a></li>
                <% }%>

                <% if(tabIndex == 5) {%>
                    <li class="am-active"><a href="/about">关于我</a></li>
                <% }%>
                <% if(tabIndex != 5) {%>
                    <li ><a href="/about">关于我</a></li>
                <% }%>

            </ul>
            <!-- <form class="am-topbar-form am-topbar-right am-form-inline" role="search">
                <div class="am-form-group">
                <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
                </div>
            </form> -->
        </div>
    </nav>
    <hr>
</body>
</html>

